<%- include('partials/header') %>
  <div class="container">
    <div class="text-center centered">

      <i class="fas fa-key fa-6x"></i>

      <h1 class="display-3">You've Discovered Someone's Secret!</h1>
      <% secrets.forEach(secret=> { %>
        <p class="secret-text">
          <%= secret.secret %>
        </p>
        <% }); %>

          <hr>

         <div class="buttons d-flex justify-content-center flex-wrap gap-4">
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
          <a class="btn btn-dark btn-lg" href="/password" role="button">Find Super Secret 🤫</a>
         </div>
    </div>
  </div>

  <%- include('partials/footer') %>