<%- include('partials/header') %>

<div class="container">
<div class="text-center centered">
    <i class="fas fa-key fa-6x"></i>
    <hr>

    <h1 class="display-3">Secret</h1>
    <div class="text-center fs-3 fw-semibold">
        <!-- <% //let modifiedText = content.replaceAll("_", " ") %>  -->
       <%= content.replaceAll("_", " ") %> 
    </div>
  </div>
</div>

<%- include('partials/footer') %>
